/* Initial DOM CSS */
body{
    background-color: #fec07d;
}

.initialInfo {
    text-align: center;
}

h1 {
    font-family: "Gill Sans Extrabold", sans-serif;
    margin-top  : 12vh;
    color       : #f76d0b;
    text-shadow: 2px 2px #7c3604;
}

/* Bootstrap Card CSS */
.card {
    background-color: #FFEC9E;
    color           : #c3b117;
    box-shadow: 4px 4px #675c05;
}

.card-header {
    background-color: #431f03 !important;
    text-align      : center;
    font-size       : larger;
    font-weight     : bold;
}

.card-img-top {
    display     : flex;
    align-items : center;
    padding     : 10%;
    height      : 30vh;
}

.card-text {
    text-align  : center;
    font-weight : 700;
}

.text-center {
    margin-bottom: 2vh;
}


.weather {
    color: rgb(243, 63, 63);
}

/* Loader CSS */
#loaderContainter {
    position: relative;
    height  : 100%;
    width   : 100%;
}

.loader {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    height: 20vh;
}

@media screen and (min-width: 768px) and (min-height: 1024px) {
    .card-img-top {
        height  : 30vh;
    }
}